# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables locales (peuvent contenir des valeurs sensibles)
*.tfvars
!*.tfvars.example
